<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

<!DOCTYPE html>
<head>
<title> Upload </title>
</head>
<body>
<h1> Upload Photos </h1>
{% for item in result :%}
   {{ item }}
{% endfor %}

<form action = "/upload_photo" method ="post" enctype = "multipart/form-data">
    <p>Select Photo: <input type = 'file' value='choose' name='file' /> </p>
    <p> Comment <textarea name='comment' value='comment' maxlength = "50"></textarea></p>
    <input type = 'submit' value='Submit' />
</form>

<form action = "/insert_tag" method ="post" enctype = "multipart/form-data">
        <p> Tags :<input type="text" name="tag" value="tag"></p>
        <input type = 'submit' value='Add tag' />
</form>

<form action = "/show_all_photo" method ="post" enctype = "multipart/form-data">
   <input type = 'submit' value='View All Posts' />
</form>

<form action = "/show_my_photo" method ="post" enctype = "multipart/form-data">
   <input type = 'submit' value='View My Posts' />
</form>

</body>
</html>

</body>
</html>